body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b7e4c7; /* Light green background color */
    color: #333; /* Dark gray text color */
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #fff9db; /* Light yellow container background color */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1, h2 {
    text-align: center;
    color: #333; /* Dark gray text color */
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

li {
    margin-bottom: 10px;
}

form {
    display: inline;
}
